<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OOO">

    <resultMap id="UserResult" type="BD.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>




    <select id="selectAll" resultMap="UserResult">
        SELECT * FROM user3;
    </select>

    <select id="selectById" parameterType="int" resultMap="UserResult">
        SELECT * FROM user3 WHERE id = 2
    </select>

    <select id="selectByName" parameterType="String" resultMap="UserResult">
        SELECT * FROM user3 WHERE name = #{name}
    </select>

    <select id="selectByYear_of" parameterType="String" resultMap="UserResult">
        SELECT * FROM user3 WHERE Year_of = #{year_of}
    </select>

    <insert id="insert" parameterType="BD.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user3 (name, year_of) VALUES (#{name},#{year_of});
    </insert>

    <delete id="delete" parameterType="int">
        DELETE from user3 WHERE id = #{id}
    </delete>

   <!-- <insert id="insertFriend" parameterType="BD.Friend" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO friend (IdPerson, NameFriend, PhoneFriend, EmailFriend) VALUES (#{idPerson},#{nameFriend},#{phoneFriend},#{emailFriend});
    </insert>

    <update id="update" parameterType="BD.User">
        UPDATE persons
        SET name = #{name}
        WHERE id = #{id}
    </update>



    <delete id="deleteFriend" parameterType="int">
        DELETE from friend WHERE id = #{id}
    </delete>-->
</mapper>

